---
import { cva } from 'class-variance-authority';
import ServicesGrid from '@components/featured/ServicesGrid.astro';

const { heading = 'Services', layout = 'default' } = Astro.props;

const styles = cva(
  'text-3xl font-seif font-black text-center bg-base-800 text-primary-300 p-3 md:p-6',
  {
    variants: {
      layout: {
        default: ['row-span-1'],
        fullHeight: ['row-span-2'],
      },
    },
  }
);
---

<div
  class="overflow-hidden not-prose shadow-xl mx-auto rounded-md text-base-800"
>
  <h2 class={styles({ layout })}>{heading}</h2>

  <div class="grid grid-col-1 md:grid-cols-3 gap-4 md:gap-8 p-4 md:p-8">
    <ServicesGrid headingLevel="h3" />
  </div>
</div>
