---
import type { HTMLAttributes } from 'astro/types';

const { text } = Astro.props;
---

<details open class="rounded-md p-6 shadow-2xl bg-red-300">
  <summary class="cursor-pointer">{text}</summary>
  <form class="flex flex-col gap-3 mt-6" action="">
    <label class="text-sm font-bold" for="message">Message</label><textarea
      class="rounded-md border"
      name=""
      id="message"></textarea>
    <button class="bg-base-900 text-light px-6 py-2">Submit</button>
  </form>
</details>
