---

---

<div class="w-full md:w-3/4 px-3 mx-auto space-y-12 px-3">
  <div
    class="prose col-span-full dark:prose-invert prose-sm md:prose-base prose-h2:text-lg md:prose-h2:text-2xl prose-ol:list-roman mx-auto max-w-[75ch]"
  >
    <h1 class="border-b border-base-100">Contact</h1>

    <slot />
  </div>
</div>
