---
import PageHeader from '@components/parts/PageHeader.astro';
import People from '@components/people/People.astro';
const { frontmatter } = Astro.props;
---

<div
  class="grid grid-cols-1 md:grid-cols-3 col-start-2 gap-4 md:gap-8 px-3 md:px-12"
>
  <PageHeader
    title={frontmatter.title}
    description={frontmatter.description}
    style="background"
    sticky={false}
  />
  <People />
</div>
