---
import Section from '@components/utilities/Section.astro';
import ServicesGrid from '@components/featured/ServicesGrid.astro';
const { frontmatter } = Astro.props;
---

<div class="w-full md:w-3/4 mx-auto px-3 space-y-12">
  <div
    class="prose col-span-full dark:prose-invert prose-sm md:prose-base prose-h2:text-lg md:prose-h2:text-2xl prose-ol:list-roman mx-auto max-w-[75ch]"
  >
    <h1 class="border-b border-base-100">{frontmatter.title}</h1>

    <slot />
  </div>

  <Section layout="grid">
    <ServicesGrid
      buttonText="Contact us"
      showImage={false}
      buttonLink="/contact"
    />
  </Section>
</div>
